<ng-template ngFor let-child [ngForOf]="(root ? item : item.items)">

    <li #listItem (mouseenter)="onItemMouseEnter($event,listItem,child)" (mouseleave)="onItemMouseLeave($event)">
        <!--[ngClass]="{'ui-menuitem ui-widget ui-corner-all':true,'ui-menu-parent':child.items,'ui-menuitem-active':listItem==activeItem}"-->

        <a *ngIf="!child.routerLink" [href]="child.url||'#'" class="ripplelink" [attr.target]="child.target" (click)="itemClick($event, child)">

            <i class="material-icons">{{child.icon}}</i>
            <span>{{child.label}}</span>
            <span class="ink ripple-animate" style="height: 128.672px; width: 128.672px; top: -52.336px; left: 10.0078px; pointer-events: none;"></span>
            <!---->
            <i class="material-icons" *ngIf="child.items">keyboard_arrow_down</i>

            <span class="ui-menuitem-icon fa fa-fw" *ngIf="child.icon" [ngClass]="child.icon"></span>

        </a>
        <a *ngIf="child.routerLink" [routerLink]="child.routerLink" [routerLinkActive]="'ui-state-active'" [routerLinkActiveOptions]="child.routerLinkActiveOptions||{exact:false}"
            class="ripplelink" [attr.target]="child.target" (click)="itemClick($event, child)">
            <i class="material-icons">{{child.icon}}</i>

            <span class="ui-menuitem-text">{{child.label}}</span>

            <span class="ink ripple-animate" style="height: 128.672px; width: 128.672px; top: -52.336px; left: 10.0078px; pointer-events: none;"></span>

            <span class="ui-menuitem-icon fa fa-fw" *ngIf="child.icon" [ngClass]="child.icon"></span>
            </a>


            <ul class="ultima-menu clearfix">
                <app-submenu [item]="model" root="true"></app-submenu>
            </ul>
    </li>

</ng-template>

<!--
<ul [ngClass]="{'ui-menubar-root-list ui-helper-clearfix':root, 'ui-widget-content ui-corner-all ui-helper-clearfix ui-menu-child ui-shadow':!root}"
    class="ui-menu-list" (click)="listClick($event)">
    <ng-template ngFor let-child [ngForOf]="(root ? item : item.items)">
        <li #listItem [ngClass]="{'ui-menuitem ui-widget ui-corner-all':true,'ui-menu-parent':child.items,'ui-menuitem-active':listItem==activeItem}"
            (mouseenter)="onItemMouseEnter($event,listItem,child)" (mouseleave)="onItemMouseLeave($event)">
            <a *ngIf="!child.routerLink" [href]="child.url||'#'" class="ui-menuitem-link ui-corner-all" [attr.target]="child.target"
                [ngClass]="{'ui-state-disabled':child.disabled}" (click)="itemClick($event, child)">
                <span class="ui-menuitem-icon fa fa-fw" *ngIf="child.icon" [ngClass]="child.icon"></span>
                <span class="ui-menuitem-text">{{child.label}}</span>
                <span class="ui-submenu-icon fa fa-fw" *ngIf="child.items" [ngClass]="{'fa-caret-down':root,'fa-caret-right':!root}"></span>
                </a>
                <a *ngIf="child.routerLink" [routerLink]="child.routerLink" [routerLinkActive]="'ui-state-active'" [routerLinkActiveOptions]="child.routerLinkActiveOptions||{exact:false}"
                    class="ui-menuitem-link ui-corner-all" [attr.target]="child.target" [ngClass]="{'ui-state-disabled':child.disabled}"
                    (click)="itemClick($event, child)">
                    <span class="ui-menuitem-icon fa fa-fw" *ngIf="child.icon" [ngClass]="child.icon"></span>
                    <span class="ui-menuitem-text">{{child.label}}</span>
                    <span class="ui-submenu-icon fa fa-fw" *ngIf="child.items" [ngClass]="{'fa-caret-down':root,'fa-caret-right':!root}"></span>
                    </a>
                    <p-menubarSub class="ui-submenu" [item]="child" *ngIf="child.items"></p-menubarSub>
                    </li>
    </ng-template>
    </ul>-->